body {
	background: #DFDDDD;
}

main {
	margin: auto;
    width: 1100px;
}

article {
	
	border:2px solid #333333;
	padding:1px 2px; 
	background:#333333;
	width:500px;
	height:425px;
	box-shadow: 10px 10px 5px #888888;
	border-radius:10px;
}

section {
	float: right;
	margin-top: -432px;
	padding:1px 2px; 
	background:#333333;
	width:500px;
	height:425px;
	box-shadow: 10px 10px 5px #888888;
	border-radius:10px;
	color: #DFDDDD;
	font-size: 130%;
	font-family: 'Exo 2', sans-serif;
}

img.steven {
	position: relative;
	float: right;
	top: -170px;
	
}

img.arrow {
	position: relative;
    left: 50px;
    top: 10px;
}

img.about {
	outline: 0;
	position: relative;
    left: 100px;
    top: -60px;
}

img.contact {
	position: relative;
    left: -53px;
    top: 5px;
}

ul {
    list-style-type: circle;
    position: relative;
    top: 10px;
}

footer {text-align:center;}


<!-- CSS for inline about section -->

div.#wrapperAbout {margin: auto;}

aside.right {
	float: right;
	position: relative;
	width: 350px;
}

aside.left {
	float: left;
	height: 409px;
}

img.logo2 {
	position: relative;
	left: 50px;
}

img.trek {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.cboxPhoto {min-width:650px;}